@import "tailwindcss";
.input-box {
  @apply flex items-center bg-white/90 text-black border border-gray-300 rounded-xl px-3;
}
.input-box input {
  @apply w-full bg-transparent p-2 focus:outline-none;
}
.icon {
  @apply text-gray-600 w-5 h-5 mr-2;
}
.input-select {
  @apply bg-white/90 text-black border border-gray-300 rounded-xl px-3 py-2;
}
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-xl transition-all shadow-md hover:shadow-lg;
}
@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out forwards;
}
